@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@layer components {
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .label {
    @apply text-slate-500 text-base block mb-4;
  }

  .text-container {
    @apply border border-slate-700 hover:border-slate-900 transition-all rounded-sm flex items-stretch justify-center mb-4 has-focus:border-primary-lime;
  }

  .text-container-special{
    @apply border border-slate-700 hover:border-slate-900 transition-all rounded-sm w-full inline-flex items-stretch justify-center relative before:content-['£'] before:text-slate-400 before:bg-slate-200 before:p-4 before:rounded-tl-sm before:rounded-bl-sm has-focus:border-primary-lime has-focus:before:bg-primary-lime has-focus:before:text-slate-900;
  }

  .input-text {
    @apply w-full h-[inherit] rounded-sm p-4 text-xl font-semibold inline-flex focus:outline-0 cursor-pointer;
  }
  .input-text:focus ~ .tag,
  .input-text:focus-visible ~ .tag {
    @apply bg-primary-lime text-slate-900;
  }

  .tag {
    @apply p-4 text-slate-400 bg-slate-100 rounded-tl-sm rounded-bl-sm peer-focus:bg-primary-lime peer-focus:text-slate-900;
  }
  .tag-inverted {
    @apply p-4 text-slate-400 bg-slate-100 rounded-tr-sm rounded-br-sm peer-focus:bg-primary-lime peer-focus:text-slate-900;
  }
  .custom-label {
    @apply border border-slate-700 rounded-sm px-5 py-4 flex items-center gap-4 has-[:checked]:border-primary-lime has-[:checked]:bg-primary-lime/5 hover:border-primary-lime transition-all cursor-pointer;
  }
  .custom-radio {
    @apply w-6 h-6 border-2 border-slate-400 rounded-full relative inline-flex justify-center items-center before:hidden before:content-[''] before:absolute before:w-full before:h-full  before:-scale-70 before:rounded-full before:bg-primary-lime peer-checked:before:block peer-checked:border-2 peer-checked:border-primary-lime peer-checked:ring-1 peer-checked:ring-primary-lime;
  }
  .error_message {
    visibility: hidden;
  }
  
  
}

@theme {
  --color-primary-lime: hsl(61, 70%, 52%);
  --color-primary-red: hsl(4, 69%, 50%);
  --color-slate-100: hsl(202, 86%, 94%);
  --color-slate-300: hsl(203, 41%, 72%);
  --color-slate-500: hsl(200, 26%, 54%);
  --color-slate-700: hsl(200, 24%, 40%);
  --color-slate-900: hsl(202, 55%, 16%);

  --default-font-family: "Plus Jakarta Sans", sans-serif;
}
